body {
color: cyan;
background: rgb(132, 0, 255);
    margin: 0px;
     font-family: "Mozilla Text", sans-serif;
}

header {
    border-bottom: solid 2px rgb(0, 255, 34);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 42, 42);
}



section {
    background: rgb(2, 238, 226);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}



.chamada-texto {
    margin-right: 5%;
    }

h1 {
     font-size: 40px;
     }

     p{
        font-size: 20px
     }